/*Seção Páginas*/
body {
  background-color: bisque;
}
img {
  border: 3px solid greenyellow;
}

/*Seção cabeçalho home*/

#marca {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: xx-large;
}

.nome {
  color: tomato;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: greenyellow;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  color: chartreuse;
  text-decoration: tomato;
  padding: 20px;
  background-color: blue;
}

nav ul li a hover {
  background-color: burlywood;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: darkblue;

  background-color: bisque;
  text-align: center;
}

#pond {
  display: flex;
  justify-content: flex-end;
}

.content {
  display: flex;
  justify-content: center;
}

/* Seção página portifolio*/

#portfolio-projetos {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.projetos {
  color: chartreuse;
}
.texto-projetos {
  color: coral;
  font-family: "Courier New", Courier, monospace;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
